*{
    font-family: 'Press Start 2P', cursive;
    color:white;
}
body{
    width:100vw;
    height:100vh;
    position: relative;
}
.full-screen{
    height:100%;
    width:100%;
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
}
.start-button{
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: blue;
}
.play-area{
    background-color: black;
    height: 100%;
    width: 100%;
}
.start-button{
    color:white;
}
.intro-text{
    height: 100%;
    width: 100%;
    color:white;
    position: relative;
    
}
.fade-in{
    animation: fadein 3s;
}
.fade-out{
    animation: fadeout 3s;  
}
.intro-text div{
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

@keyframes fadein {
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes fadeout {
    from{opacity:1;}
    to{opacity:0;}
}

.title{
    background-image: url("assets/title.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height:50%;
    width:50%;
    position: relative;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}

.game-start{
    position: absolute;
    bottom:5%;
}
.password{
    position: absolute;
    bottom:0;
}

.stage-select{
    background-image:url("assets/stageselect.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    position: relative;
}
.mega-man, .char-tile{
    height: 14vh;
    width: 14vh;
    z-index: 2;
    background-size: cover;
    position: absolute;   
}
.mega-man{
    background-image: url(assets/tile007.png);
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sparkman{   
    background-image: url(assets/tile003.png); 
    top: 19.5%;
    left: 34%;
    transform: translate(-50%,-50%);
}
.snakeman{   
    background-image: url(assets/tile004.png); 
    top: 19.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.needleman{
    background-image: url(assets/tile005.png); 
    top: 19.5%;
    left:66%;
    transform: translate(-50%,-50%);
}

.hardman{
    background-image: url(assets/tile009.png); 
    top: 47%;
    left:34%;
    transform: translate(-50%,-50%);
}

.topman{
    background-image: url(assets/tile011.png); 
    top: 47%;
    left:66%;
    transform: translate(-50%,-50%);
}

.geminiman{
    background-image: url(assets/tile015.png); 
    top: 74%;
    left:34%;
    transform: translate(-50%,-50%);
}

.magnetman{
    background-image: url(assets/tile016.png); 
    top: 74%;
    left:50%;
    transform: translate(-50%,-50%);
}

.shadowman{
    background-image: url(assets/tile017.png); 
    top: 74%;
    left:66%;
    transform: translate(-50%,-50%);
}

.look-left{
    background-image: url(assets/tile006.png); 
}
.look-up-left{
    background-image: url(assets/tile000.png); 
}
.look-up{
    background-image: url(assets/tile001.png); 
}
.look-up-right{
    background-image: url(assets/tile002.png); 
}
.look-right{
    background-image: url(assets/tile008.png); 
}
.look-down-right{
    background-image: url(assets/tile014.png); 
}
.look-down{
    background-image: url(assets/tile013.png); 
}
.look-down-left{
    background-image: url(assets/tile012.png); 
}

.blue-bar{
    width:100%;
    animation: grow 1.5s;
    background-image: linear-gradient(blue,lightblue,blue);
    position: absolute;
    top:50%;
    z-index:10;
    transform:translateY(-50%);
    animation-fill-mode: forwards;
}

@keyframes grow{
    from {height:0; display: none; }
    to {height:40%; display: block;}
}

.enemy-char{
    height: 20vh;
    width: 28vh;
    z-index: 12;
    position: absolute;
    top: 50%;
    background-repeat: no-repeat;
    display: block;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sparkman-char{
    background-image: url(assets/sparkman-fill.png);
}
.snakeman-char{
    background-image: url(assets/snakeman-fill.png);
}
.needleman-char{
    background-image: url(assets/needleman-fill.png);
}
.hardman-char{
    background-image: url(assets/hardman-fill.png);

}
.topman-char{
    background-image: url(assets/topman-fill.png);
}
.geminiman-char{
    background-image: url(assets/geminiman-fill.png);
}
.magnetman-char{
    background-image: url(assets/magnetman-fill.png);
}
.shadowman-char{
    background-image: url(assets/shadowman-fill.png);
}

.typewriter{
    position: absolute;
    top:70%;
    left:50%;
    transform:translateX(-50%);
}
.typing{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 15% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }

.play-area{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 3;
}
.side-bar{
    box-sizing: border-box;
    width:30%;
    border:2px solid yellow;
    height:100%;
    display: inline-block;
    z-index: 3;
}
.card-area{
    box-sizing: border-box;
    width:70%;
    border: 2px solid red;
    height:100%;
    display: inline-block;
    z-index: 3;
    vertical-align: top;
}
.card{
    box-sizing: border-box;
    position: relative;
    height: 23%;
    width: 12%;
    margin:2.5% 1.5%;
    display: inline-block;
}

.back{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.front{
    position: absolute;
    background-size: cover;
    height:100%;
    width:100%;
    background-image: url("assets/megaman3-cover.jpg");
}

.iframe-container{
    height: 100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color:transparent;
    z-index:0;
}
.video-background{
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:0;
}
.iframe-screen{
    height:100%;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 1;  
    background-color: rgba(0,0,0,.3);
}
.hide{
    display: none;
}
.enemy-image{
    width:100%;
    height:auto;
}
/* Flip Animation */

.card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card.card-flipped .card-inner{
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
  }

@media only screen and (min-width: 485px){
    .sparkman,.hardman, .geminiman{
        left:19%;
    }
    .needleman, .topman, .shadowman{
        left:81%;
    }

}
@media only screen and (min-width: 955px){
    .sparkman,.hardman, .geminiman{
        left:23.5%;
    }
    .needleman, .topman, .shadowman{
        left:76%;
    }

}
@media only screen and (min-width: 1200px){
    .sparkman,.hardman, .geminiman{
        left:27.5%;
    }
    .needleman, .topman, .shadowman{
        left:72%;
    }
}
@media only screen and (min-width: 1440px){
    .sparkman,.hardman, .geminiman{
        left:31%;
    }
    .needleman, .topman, .shadowman{
        left:68.75%;
    }

}
@media only screen and (min-width: 1600px){
    .sparkman,.hardman, .geminiman{
        left:32.5%;
    }
    .needleman, .topman, .shadowman{
        left:67%;
    }

}
